# Python
*.pyc
__pycache__/
venv/
env/
*.egg-info/
dist/
build/
*.egg

# macOS
.DS_Store

# Git
# /.gitignore
/.gitattributes
/.git
/.gitmodules

# VSCode
.vscode/
*.code-workspace

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
pytest.ini
.coverage

# Pylint
.pylint/
.pylintrc

# sqllite
*.db
